body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .logo {
    height: 5rem;
    width: auto;
    float: left;
  }
  .company-name {
    float: left;
    font-size: 2rem;
    font-weight: 700;
  }
  .menu-item {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
  }
  .content {
    clear: both;
    width: 1200px;
    padding: 30 px;
    height: 600px;
    background:#ffeeee;
    margin: auto;
  }