%messages {
    background-color:rgb(218, 172, 218);
    border-radius: 10px;
    font-size: 12px;
    padding: 8px;
    width: 130px;
    margin: 10px;
    margin-top: .5px;
}
* {
    font-family: 'Rubik', sans-serif;
}
.attribution {
    font-size: 11px; text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.premiere {
    width: 350px;
    height: 700px;
    background: linear-gradient( magenta,violet );
    margin: 0;
    border-radius: 0 0 175px 175px;
}
.main {
    position: relative;
}
.mobile {
    height: 500px;
    width: 250px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 300px;
    top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 0 5px white;
}
.photo {
    background:linear-gradient(rgb(131, 41, 131),magenta);
    height: 50px;
    color: white;
    font-size: 5px;
    display: flex;    
    border-radius: 10px 10px 0 0; 
}
.image {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    box-shadow: 0 0 0 1px white;    
    margin-left: 10px;
    margin-top: 10px;
}
.sam {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}
.samu {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 8px;
    
}
.ava {
    margin-top: 5px;
}
.that {
    margin-top: 10px;
    @extend %messages
}
.could {
    @extend %messages
}
.chiens {
    margin-left: 130px;
}
.here {
    @extend %messages;
    margin-left: 90px;
    background-color: rgb(200, 213, 224)
    
}
.can {
    @extend %messages;
    margin-left: 90px;
    background-color: rgb(200, 213, 224)
}
.she {
    @extend %messages;
}
.type {
    background-color: white;
    padding: 15px;
    margin-top: 20px ;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    color: gray;
    font-size: 10px;
    position: relative;
}
.rond {
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    color: white;
    background-color: rgb(54, 15, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 200px;
}
.deuxieme {
    background-color: white;
    width: 150px;
    height: 100px;
    position: absolute;
    z-index: 1;
    right: 680px;
    top: 13px;
    border-radius: 10px;
}
.simple {
    height: 200px;
    width: 400px;
    position: absolute;
    left: 700px;
    top: 300px;
}
h1 {
    color: rgb(77, 13, 77);
}
.alone {
    color: gray;
}